/* body {
    font-family: sans-serif;
  } */
  
  /* Set the style for the navigation menus */
  /* nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  } */
/*   
  nav a {
    text-decoration: none;
    color: #fff;
    background: #48abe0;
    padding: 1rem;
    /* transition: background 0.5s;
    display: block;
    outline: 0;
  } */
  
  /* nav a:hover,
  nav li:focus-within > a {
    background: #245975;
    cursor: pointer;
  } */
  
  /* Make the dropdown animate. */
  .dropdown-content {
    min-width: max-content;
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s;
  }
  
  /* The max-height should be set to something that will always be a little bit bigger than the height of the content. */
  .dropdown:hover .dropdown-content,
  .dropdown:focus .dropdown-content,
  .dropdown:focus-within .dropdown-content {
    max-height: 200px;
  }
  
  /* This makes the top-level navigation horizontal on desktop, and vertical on smaller screens. */
  /* @media screen and (min-width: 768px) {
    nav > ul > li {
      float: left;
    }
    
    .dropdown {
      position: relative;
    }
    
    .dropdown-content {
      position: absolute;  
      width: max-content;
    }
    
    .content {
      clear: both;
    }
  } */