body {
    margin: 0 auto;
    text-align: center;
    color: white;
}

header {
    background-color: #23468C;
    
}

nav {
    /* margin: 1em; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translateY(50%) translateX(50%) rotate(90deg);
    /* max-width: auto; */
}
#color-scheme {
    padding: 0.7em;
    background-color: #F25430;
}

#color-scheme :hover {
    background-color: black;
}

#typography {
    padding: 0.7em;
    background-color: #efa00d;
}

#audience {
    padding: 0.7em;
    background-color:rgb(5, 65, 65);
}

#audience :hover {
    background-color: black;
    padding: 3em;
}
nav a {
    /* padding: 1em; */
    color: white;   
    text-decoration: none;
}