:root {
    --red: #8C1F28;
    --darkred: #591C21;
    --calmblue: #044040;
    --brightred: #D92525;
    --mywhite: #F2F2F2;
}


body {
    margin: 0 auto;
    /* text-align: center; */
    padding: 1em;
    background-color:var(--mywhite);
    
}

header {
    background-color: var(--calmblue);
    color: var(--mywhite);
    /* text-align: center; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

#domain {
    text-decoration: underline;
}

/* nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translateY(50%) translateX(50%) rotate(90deg);
} */
#color-scheme {
    padding: 0.7em;
    background-color: var(--calmblue);
}

/* #color-scheme :hover {
    background-color: black;
} */

#typography {
    padding: 0.7em;
    background-color: var(--red);
}

#audience {
    padding: 0.7em;
    background-color:var(--darkred);
    /* max-width: 200px; */
}
 
#audience :hover {
    background-color: var(--brightred);
    /* padding: 1em; */
    font-size: 150%; 
}

/* #audience :hover {
    background-color: black;
    padding: 3em;
} */
nav a {
    /* padding: 1em; */
    color: white;   
    text-decoration: none;
}

@media screen and (min-width: 800px) {
    nav {
        display: flex;
        /* justify-content: center; */
        flex-basis: 100%;
    }

}