@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Permanent+Marker&family=Roboto+Slab&display=swap');

body {
    margin: 0 auto;
    /* text-align: center; */
    padding: 1em;
    font-family: 'Noto Sans', sans-serif;
    
}

/* nav {
    display: flex;
} */

header {
    background-color: #23468C;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
}

#domain {
    text-decoration: underline;
}

/* nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translateY(50%) translateX(50%) rotate(90deg);
} */
#color-scheme {
    padding: 0.7em;
    /* background-color: #F25430; */
    background-color: rgb(5, 65, 65);
}

/* #color-scheme :hover {
    background-color: black;
} */

#typography {
    padding: 0.7em;
    /* background-color: #efa00d; */
    background-color: #79460b;
}

#audience {
    padding: 0.7em;
    background-color:rgb(30, 48, 135);
    
}

#homepage {
    padding: 0.7em;
    background-color: rgb(5, 65, 65);
}

/* #audience :hover {
    background-color: black;
    padding: 3em;
} */
nav a {
    /* padding: 1em; */
    color: white;   
    text-decoration: none;
}

footer {
    background-color: #23468C;
    color: white;
    text-align: center;
    padding: 0.5em;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

@media screen and (min-width: 800px) {
    nav {
        display: flex;
        flex-direction: row;
        
        /* justify-content: center; */
    }

    nav > * {
        flex: 1 1 0;
    }

}