body {
    background-color: black;
}
header {
    background-color: #222a59;
    display: flex;
    flex-wrap: wrap;
    align-items: center;    
    color: white;
    justify-content: center;
    /* box-shadow: 0 0 10px white; */
}



header nav {
    /* background-color: black;
     */
    background-color: #222a59;
    width: 100%;
}

header h1 {
    flex: 1;
    align-items: center;
    max-width: 250px;
}

header p {
    width: 100%;
    text-align: center;
}
.social {
    position: absolute;
    top: 3%;
    left: 85%;   
    padding: 0.5em;
}
#buttonham {
    border: none;
    color: white;
    background-color: #222a59; 
}
#buttonham :hover {
    color: rgb(229, 13, 157);
}
#buttonham :active {
    box-shadow: 0 0 35px #A63292;
}

footer a {
    color: white;
}

footer a:active {
    color: red;
}

#navbar {
    list-style: none;
    display: none;
    text-align: center;
    color: white;
    /* padding: none; */
    
}
nav ul {
    padding-inline-start: 0;

}
 /* ul {
    padding: none;
    list-style-type: none;
} */

figure {
    /* background-color: #0D0D0D; */
    opacity: 0.7;
    /* box-shadow:  0 0 10px 10px #3F2140; */
    
}
figure:hover {
    opacity: 1.0;
}
main div {
    
    /* justify-content: end; */
    color: white;
    background-color: #0D0D0D;
    /* width: 90%; */
    min-height: 100px;
    box-shadow: 0 0 5px white;
    text-align: center;
    padding: 0.5em;
    margin: 0 auto;
    /* margin-top: 1%; */
}

.join {
    display: none;
}

.join button {
    border-radius: 12px;
    max-height: 50%;
    background-color: #222a59;
    border: none;
    color: white;
    font-weight: bold;
    font-size: x-large;
    
}


body p {
    margin: 0;
}


.spot3 {
    display: none;
    /* text-align: center; */
}

footer {
    margin-top: 5%;
    background-color: #222a59;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    padding: 0.2em;
}

footer nav {
    /* align-items: center; */
    text-align: center;
}

header p {
    background-color: rgb(37, 37, 35);
    padding: 1em;
}
.dash {
    display: none;
}
.hero {
    font-size: xx-large;
    font-weight: bolder;
    
    /* color: #3F2140;
     */
    /* text-shadow: -1px 2px white, 0 1px white, 1px 0 white, 0 -1px white;
     */
    text-shadow: 0 0 5px black;
    /* background-image: url('imgs/wdd230-small.jpg');
    background-size: cover; */
    /* background-color: aqua; */
    background-image: url('../imgs/waterfall-sm.jpg'); 
    background-size:cover;
    /* margin: 8px; */
    /* max-width: 100% ; */
}

main div h2 {
    
    text-shadow: 0 0 5px aqua;
}

.hero button {
    background-color: #222a59;
    border: none;
    padding: 1em;
    border-radius: 4px;
    color: white;
    position: relative;
    top: 10%;
    left: 50%;
}
/* .hero p {
    background-image: url('imgs/ifTemple.jpg');
    /* background-color: aqua;
} */
/* div.event {

    margin: 0;
} */
main div {
    margin: 8px;
}


/* main p {
    margin: 0;
} */

/* .hero {
    /* padding: 1em;
    
     margin: 1em;
} */

/* main div {} */
/* .social {
    background-color: aqua;
    display: absolute;
    left: 50%;
    height: 20%;
} */