section{
    color: white;
}

div {
    margin-left: 1rem;
}

body section {
    display: flex;
}

.benefits {
    /* background-color: aqua; */
    font-size: larger;
}
section div {
    display: block;
    margin-top: 20px;
    /* background-color: aqua; */
}

label.userinput input {
    display: block;
    padding: .5rem;
    width: 300px;
    max-width: 300px;
}

label.btninput {
    display: block;
    padding: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(41, 42, 42);
    max-width: 200px;
    border-radius: 25px;
}

div.btninputmain {
    margin: 0;
}

label#buz {
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    width: 300px;
}

#submitbtn {
    margin-top: 2rem;
    padding: 1rem;
    color: white;
    background-color: black;
    border-color: white;
    border-width: 2rem;
    font-size: 2rem;
    border-style:double;
}

label :required {
    border: 2px solid red;
}

/* label.btninput {
    padding: .3rem;
} */


/*
form
*/
/*
label.userinput {
    display: inline-block; 
    width: 200px; 
    text-align: left;
    padding-top: 1rem;
    
}
.btninputmain {
    margin-bottom: 1rem;
}
#buz {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 30%;
}

#submitbtn {
    margin-top: 2rem;
    padding: 1rem;
    color: white;
    background-color: black;
    border-color: white;
    border-width: 2rem;
    font-size: 2rem;
    border-style:double;
}

*/