section{
    color: white;
}

div {
    margin-left: 1rem;
}

label.userinput {
    display: inline-block; 
    width: 200px; 
    text-align: left;
    padding-top: 1rem;
    
}
.btninputmain {
    margin-bottom: 1rem;
}
#buz {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 30%;
}

#submitbtn {
    margin-top: 2rem;
    padding: 1rem;
    color: white;
    background-color: black;
    border-color: white;
    border-width: 2rem;
    font-size: 2rem;
    border-style:double;
}