@media screen and (min-width: 700px) {



    header img {
        width: 70px;

    }
    /* main */
    /* slides */
    .slides img {
        width: 700px;
        object-fit: contain;
      }
    .weatherlist {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .perth {
        grid-column: -1/1;
    }

    /* footer */
    .footercontent {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .contactFoot {
        grid-column: -1/1;
    }

}