@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');
:root {
    --tan: #b59262;
    --dark: #42474B;
    --med: #808186;
    --green: #577C11;
    --light: #DBDBDB;
}

/* HEADER */
header {
    display: flex;
    justify-content:space-between;
    border-bottom: 2px solid var(--dark);  
    color: var(--med);
    background-color: white;
}
header h1 {
    margin: 0;
    padding-right: 10px;
    font-size: 20px;
    padding: 0.4rem;
}
/* NAVBAR */
.material-symbols-outlined {
    padding: 3px;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    right: 0;
    background-color: var(--tan);
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: var(--med);
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: var(--light);
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

/* BODY */
body{
    margin: 0 auto;
    text-align: center;
    background-color: var(--light);
    color: var(--dark);
    font-family: 'Playfair Display', serif;
}
/* SlIDER PICS */
.gallery-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.thumbnails {
  position: absolute;
  bottom: 8px;
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.thumbnails div {
  width: 8px;
  height: 8px;
  cursor: pointer;
  background: #aaa;
  border-radius: 100%;
}

.thumbnails div.highlighted {
  background-color: #777;
}

.slides {
  margin: 0 16px;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  width: 100%;
  /* padding: 0 0.25rem; */
  height: auto;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.slides > div {
  scroll-snap-align: start;
}

.slides img {
  width: 450px;
  object-fit: contain;
}

.slides::-webkit-scrollbar {
  display: none;
}

/*  SLIDE ANIMATION
.slide {
    display: inline-block;
    transition: all .2s ease-out;
}
.slider_wrapper {
    height: 424px;
    width: auto;
    overflow: hidden;
  }
  
  .slider {
    display: block;
    width: 200%;
    position: absolute;
    animation: marquee 20s linear infinite;
  }
  @keyframes marquee {
    0% { left: -16%; }
    50% { left: -80%; }
    100% { left: -16%; }
  } */

.temple_content {
  max-width: 450px;
}
#join {
  border: none;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 0 15px var(--green);
  width: 50%;
  font-size: 18px;
  color: var(--green)
}
#join:hover {
  background-color: var(--green);
  color: var(--light);
  transition: 0.8s;
  box-shadow: 0 0 15px var(--dark);
}
/* WEATHER */ 
.adelaide, .brisbane {
  background-color: var(--light);
  /* margin: 20px; */
  display: flex ;
  margin: 10px;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1rem solid var(--dark);
  border-top: 1rem solid var(--dark);
  border-right: 2px solid var(--dark);
  border-left: 2px solid var(--dark);
  height: 50px;
}
.adelaide img, .brisbane img {
  border-right: 2px solid var(--dark);
  border-left: 2px solid var(--dark);
  height: 75px;
}


/* FOOTER */
footer {
    padding: 0.5rem;
    background-color: var(--dark);
    color: var(--light);
    font-family: 'Roboto', sans-serif;
}
footer p {
    margin: 0;
}
footer section{
    padding: 10px;
}
#footTitle {
    font-weight: bold;
    text-decoration: underline;
}