@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');
:root {
    --tan: #b59262;
    --dark: #42474B;
    --med: #808186;
    --green: #577C11;
    --light: #DBDBDB;
}

/* HEADER */
header {
    display: flex;
    justify-content:space-between;
    border-bottom: 2px solid var(--dark);  
    color: var(--med);
    background-color: white;
}
header h1 {
    margin: 0;
    padding-right: 10px;
    font-size: 20px;
    padding: 0.4rem;
}
/* NAVBAR */
.material-symbols-outlined {
    padding: 3px;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    right: 0;
    background-color: var(--tan);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: var(--med);
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: var(--light);
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

/* BODY */
body{
    margin: 0 auto;
    text-align: center;
    background-color: var(--light);
    color: var(--dark);
    font-family: 'Playfair Display', serif;
}
/* SlIDER PICS */

.slide {
    display: inline-block;
    transition: all .2s ease-out;
}
.slider_wrapper {
    height: 424px;
    width: auto;
    overflow: hidden;
  }
  
  .slider {
    display: block;
    width: 200%;
    position: absolute;
    animation: marquee 20s linear infinite;
  }
  @keyframes marquee {
    0% { left: -16%; }
    50% { left: -80%; }
    100% { left: -16%; }
  }
/* FOOTER */
footer {
    padding: 0.5rem;
    background-color: var(--dark);
    color: var(--light);
    font-family: 'Roboto', sans-serif;
}
footer p {
    margin: 0;
}
footer section{
    padding: 10px;
}
#footTitle {
    font-weight: bold;
    text-decoration: underline;
}