:root {
    --tan: #b59262;
    --dark: #42474B;
    --med: #808186;
    --green: #577C11;
    --light: #DBDBDB;
}

main img {
    width: 400px;
    height: auto;
}

main div {
    background-color: var(--dark);
    color: var(--light);
    font-weight: lighter;
    border: solid var(--tan);
}
@media screen and (min-width: 700px) {
    .templeList{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    main div:nth-child(1) {
        grid-column: -1/1;
    }
}
@media screen and (min-width: 1000px) {
    .templeList{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    main div:nth-child(1) {
        grid-column: 1;
    }
    main div:nth-child(4), main div:nth-child(5) {
        grid-column: -1/1;
    }
}